.AllAgentsPage{
    background-color: white;
    width: 85%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* background: red; */
    gap: 5%;

}

.AnAgentWrap{
    display: flex;
    justify-content:center;
    padding: 20px;
    align-items: center;
    width: 40%;
    height: auto;
    background-color: #eef4f8;
    box-shadow: #0000003d 0px 3px 8px ;
    margin: 10px;
}

.AnAgent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    /* background-color: red; */
}

.AnAgent span{
    font-weight: 600;
}


@media screen and (max-width:428px) {
    .AnAgentWrap{
        width: 100%;
    }
}