/* .footer {
    width: 100%;
    height: 40vh;
    background-color: #0E9AFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.footermain {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.footwrite {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: rgba(255, 255, 255, 0.87);
    gap: 2%;
}

.footwrite h1 {
    font-size: 2.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footwrite span {
    font-size: 1.5vw;
    font-weight: 500;
}

.line {
    width: 30%;
    height: 1px;
    background-color: white;
}

.footwriteimages {
  width: 40%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between; 
}

@media screen and (max-width:884px){
    .footer{
        height: 30vh;
    }   
    .footermain{

    }
    .footwrite{
        text-align: center;
    }
    .footwrite h1{
        font-size: 3.5vw;
    }
    .footwrite span{
        font-size: 2.5vw;
    }
    .footwriteimages{
        width: 60%;
    }
    
}

@media screen and (max-width:428px){
    .footer{
        height: 60vh;
    }   
    .footermain{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 95%;
        
    }
    .footwrite{
        text-align: center;
       width: 100%;
    }
    .footwrite h1{
        font-size: 6.5vw;
    }
    .footwrite span{
        font-size: 4vw;
    }
    .footwriteimages{
        width: 50%;
        margin-top: 2vh;
    }
    
}



@media screen and (max-width:320px){
    .footer{
        height: 80vh;
    }   
    .footermain{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 95%;
        
    }
    .footwrite{
        text-align: center;
       width: 100%;
    }
    .footwriteimages{
        width: 50%;
        margin-top: 2vh;
    }
    
}
 */





.footer {
    width: 100%;
    height: auto;
    background-color: #0E9AFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
    padding-bottom: 100px;
}

.footermain {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    /* align-items: center ; */
    /* background-color: red; */
}

.footwrite {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align:center; */
    color: rgba(255, 255, 255, 0.9);
    gap:5px;
    /* background-color: red; */
}

.footwrite h1 {
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footwrite span {
    font-size: 1rem;
    
    /* font-weight: 500; */
}

.line {
    width: 30%;
    height: 1px;
    background-color: white;
}

.footwriteimages {
  width: 40%;
  gap: 20px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between; 
}

.footwriteimages img{
    width: 17px;
    cursor: pointer;
}

@media screen and (max-width:428px) {
    .footermain{
        flex-direction: column;
        gap:100px;
    }
    .footwrite{
        width: 100%;
    }
    .footwrite h1{
        font-size: 1.7rem;
    }
}