.ForSaleWrap{
    display: flex;
    flex-direction: column;
    width: 100%;    
}

.ForSale{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content:flex-start;
    align-items: center;
    padding: 2vh 0vh;
    margin-top: 15vh;

    /* background-color: #F90808; */
    
}

.PropertyForSaleHeading{
    margin-bottom: 3vh;
    /* @media screen and (max-width:320px) {
        font-size: 18px;
    } */
}

.SearchAndFilter{
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    gap:1%;
    margin-bottom: 2vh;
    @media screen and (max-width:430px) {
        flex-direction:column ;
        height: 10vh;
    }
    @media screen and (max-width:414px) {
        flex-direction: column;
        height: 10vh;
    }
}

.SearchWrap{
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 90%;
    /* background-color: blue; */
    border-radius: 5px;
    border:0.5px solid #0653C8;
    @media screen and (max-width:1024px) {
        width: 45%;
    }
    @media screen and (max-width:430px) {
        width: 90%;
    }
    @media screen and (max-width:414px) {
        width: 90%;
        height: 100%;
    }
}

.SearchAndFilter input{
    outline: none;
    width: 85%;
    border-radius: 5px 0px 0px 5px;
    border: none;
    padding: 2%;
    font-size: 1.5vw;
}

.SearchAndFilter input::placeholder{
    font-size: 1.3vw;
}

.SearchIconWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    background-color:#0E9AFF ;
    border-radius: 0px 5px 5px 0px ;
    cursor: pointer;
    @media screen and (max-width:320px) {
        width: 10%;
    }
}

.SearchIconWrap img{
    transition: 350ms;
    transform: scale(1);
}

.SearchIconWrap img:hover{
    transform: scale(1.3);
}

.SearchIconWrap img:active{
    transform: scale(0.9);
}

.SearchAndFilter select{
    height: 80%;   
    outline: none;
    border: 0.5px solid #0653C8;
    border-radius: 5px;
    cursor: pointer;
    @media screen and (max-width:1024px) {
        width: 45%;
    }
    @media screen and (max-width:430px) {
        width: 90%;
    }
    @media screen and (max-width:414px) {
        width: 90%;
        display: none;
        /* height: 45%; */
    }
}

.SearchAndFilter select option{
    /* height: 80%;   
    outline: none;
    border: none; */
    /* border-radius: 5px; */
    cursor: pointer;
    padding: 10%;  
    /* background-color: red; */
}

.SearchAndFilter button{
    height: 80%;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 5%;
    cursor: pointer;
    transform: scale(1);
    transition: 350ms;
    background-color: #0E9AFF;
    color :white;
    font-weight: bold;
}

.SearchAndFilter button:hover{
    transform: scale(1.06);
}

.SearchAndFilter button:active{
    transform: scale(0.9);
}

.ClearSearchWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2vh;
}

.ClearSearchWrap button{
    padding: 0.5%;
    border-radius: 5px;
    border: none;
    background-color:#0E9AFF;
    color: whitesmoke;
    transform: scale(1);
    transition: 350ms;
    cursor: pointer;
}

.ClearSearchWrap button:hover{
    transform: scale(1.05);
}

.ClearSearchWrap button:active{
    transform: scale(0.9);
}

.Line{
    display: flex;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 3vh;
    @media screen and (max-width:320px) {
        margin-top: 5vh;
    }
}

.HomeHubRedandBlueWrap{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* margin-bottom: 6vh; */
    
}

.HomeHubRedandBlueWrap h1{
    color:#F90808;
    /* @media screen and (max-width:550px) {
        font-size: 2.3vw;
    }
    @media screen and (max-width:450px) {
        font-size: 4vw;
    } */
}

.HomeHubRedandBlueWrap span{
    color:#0653C8;
    /* @media screen and (max-width:320px) {
        font-size: 16px;
    } */
}

.HomeHubRedandBlueWrap p{
    font-style: italic;
    /* @media screen and (max-width:320px) {
       font-size: 12px; 
    } */
}


.ForSaleProperties{
    display: flex;
    width: 85%;
    height:max-content;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap:5%;
    flex-wrap: wrap;
    /* @media screen and (max-width:1024px) {
        width: 95%;
    }
    @media screen and (max-width:768px) {
        width: 90%;
    }
    @media screen and (max-width:430px) {
        width: 95%;
    }
    @media screen and (max-width:414px) {
        width: 98%;
    } */

}

.ForSaleProperty{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 21%;
    height: 55vh;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px ;
    margin-bottom: 5vh;
    font-size: 1.3vw;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* @media screen and (max-width:1071px) {
        width: 26%;  
    }
     @media screen and (max-width:1024px) {
        width: 26%;  
    }
    @media screen and (max-width:900px) {
        width: 33%;
    }
    @media screen and (max-width:700px) {
        width: 42%;
    }
    @media screen and (max-width:550px) {
        width: 50%;
    }

     @media screen and (max-width:450px) {
        width: 70%;
    }
    @media screen and (max-width:360px) {
        width: 75%;
    }
    @media screen and (max-width:320px) {
        width: 85%;
    } */
}

.ForSalePropertyImgWrap{
    width: 100%;
    height: 45%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ForSalePropertyImgWrap img{
    width: 100%;
    height: 100%;
    
}

.ForSalePropertyNamePriceButtonWrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 55%;
    /* background-color: blue;   */
}

.ForSalePropertyNameAndPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 50%;
   gap: 5%;
    /* background-color: red; */
}

.ForSalePropertyNameAndPrice h4{
    text-align: center   ;
    font-size: 1.4vw;
    color: #0653C8;
    /* @media screen and (max-width:1071px) {
        font-size: 1.6vw; 
    }
    @media screen and (max-width:1024px) {
        font-size: 1.8vw;
    }
    @media screen and (max-width:900px) {
        font-size: 2.2vw;
    }
    @media screen and (max-width:700px) {
        font-size: 2.7vw;
    }
    @media screen and (max-width:550px) {
        font-size: 3.3vw;
    }
    @media screen and (max-width:450px) {
        font-size: 4.1vw;
    }
    @media screen and (max-width:360px) {
        font-size: 4.8vw;
    }
    @media screen and (max-width:320px) {
        font-size: 5.5vw;
    } */
}

.ForSalePropertyNameAndPrice p{
    font-size: 1.1vw;
    /* @media screen and (max-width:1071px) {
        font-size: 1.3vw; 
    }
    @media screen and (max-width:1024px) {
        font-size: 1.3vw;
    }
    @media screen and (max-width:900px) {
        font-size: 1.7vw;
    }
    @media screen and (max-width:700px) {
        font-size: 2.1vw;
    }
    @media screen and (max-width:550px) {
        font-size: 2.6vw;
    }
    @media screen and (max-width:450px) {
        font-size: 3.2vw;
    }
    @media screen and (max-width:360px) {
        font-size: 4vw;
    }
    @media screen and (max-width:320px) {
        font-size: 4.5vw;
    } */
}

.ForSalePropertyNameAndPrice span{
    font-weight: 595;
    /* @media screen and (max-width:320px) {
        font-size: 0.6rem;
    } */
}

.ForSalePropertyButtonsWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5%;
    width: 100%;
    padding: 0% 3%;
    /* background-color: red; */
}

.ForSalePropertyButtonsWrap :nth-child(2){
    background-color: white;
    color: #0653C8;
    border: 1px solid #0653C8;
}


.ForSalePropertyButtonsWrap button{
    /* padding: 4%; */
    width: 35%;
    height: 5vh;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    background-color: #0E9AFF;
    color: whitesmoke;
    transform: scale(1);
    transition: 350ms;
    font-size: 1.2vw;
    font-weight: 500;
    /* @media screen and (max-width:1071px) {
        font-size: 1.3vw; 
    }
    @media screen and (max-width:1024px) {
        font-size: 1.4vw;
    }
    @media screen and (max-width:900px) {
        font-size: 1.7vw;
    }
    @media screen and (max-width:700px) {
        font-size: 2.1vw;
    }
    @media screen and (max-width:550px) {
        font-size: 2.5vw;
    }
    @media screen and (max-width:450px) {
        font-size: 3.3vw;
    }
    @media screen and (max-width:360px) {
        font-size: 4.8vw;
    }
    @media screen and (max-width:320px) {
        font-size: 5.5vw;
    } */
}

.ForSalePropertyButtonsWrap button:hover{
    transform: scale(1.03);
}

.ForSalePropertyButtonsWrap button:active{
    transform: scale(0.9);
}

.sponsorTag{
    background-color: #0653C8;
    color:white;
    font-size: 1vw;
    padding:2px;
    border-radius: 5px;
}

@media screen and (max-width:1280px) {
    .ForSaleProperties{
        width: 100%;
        gap: 3%;
    }
    .ForSaleProperty{
        width: 22%;
    }
    .ForSalePropertyNameAndPrice h4{
        font-size: 1.8vw;
    }
    .ForSalePropertyNameAndPrice p{
        font-size: 1.7vw;
    }
    .ForSalePropertyButtonsWrap button{
        font-size: 1.7vw;
    }
    .sponsorTag{
        font-size: 1.5vw;
    }
    
}

@media screen and (max-width:884px) {
    .ForSaleProperties{
        width: 100%;
        gap: 5%;
    }
    .ForSaleProperty{
        width: 45%;
        height: 50vh;
    }
    .ForSalePropertyNameAndPrice h4{
        font-size: 3.5vw;
    }
    .ForSalePropertyNameAndPrice p{
        font-size: 2.8vw;
    }
    .ForSalePropertyButtonsWrap button{
        font-size: 2.8vw;
    }
    .sponsorTag{
        font-size:2.4vw;
    }
    
}

@media screen and (max-width:834px) {
    .ForSaleProperties{
        width: 100%;
        gap: 5%;
    }
    .ForSaleProperty{
        width: 45%;
        height: 50vh;
    }
    .ForSalePropertyNameAndPrice h4{
        font-size: 3.9vw;
    }
    .ForSalePropertyNameAndPrice p{
        font-size: 3.2vw;
    }
    .ForSalePropertyButtonsWrap button{
        font-size: 3.2vw;
    }
    .sponsorTag{
        font-size:2.8vw;
    }
    
}

@media screen and (max-width:800px) {
    .ForSaleProperties{
        width: 100%;
        gap: 3.5%;
    }
    .ForSaleProperty{
        width: 47%;
        height: 50vh;
    }
    .ForSalePropertyNameAndPrice h4{
        font-size: 4vw;
    }
    .ForSalePropertyNameAndPrice p{
        font-size: 3.4vw;
    }
    .ForSalePropertyButtonsWrap button{
        font-size: 3.5vw;
    }
    .sponsorTag{
        font-size:3vw;
    }
    
}

@media screen and (max-width:768px) {
    .ForSaleProperties{
        width: 100%;
        gap: 3.5%;
    }
    .ForSaleProperty{
        width: 47%;
        height: 55vh;
    }
    .ForSalePropertyNameAndPrice h4{
        font-size: 4vw;
    }
    .ForSalePropertyNameAndPrice p{
        font-size: 3.4vw;
    }
    .ForSalePropertyButtonsWrap button{
        font-size: 3.5vw;
    }
    .sponsorTag{
        font-size:3vw;
    }
    
}

@media screen and (max-width:428px) {
    .ForSaleProperties{
        width: 100%;
        /* gap: 3.5%; */
    }
    .ForSaleProperty{
        width: 75%;
        height: 55vh;
    }
    .ForSalePropertyNameAndPrice h4{
        font-size: 6vw;
    }
    .ForSalePropertyNameAndPrice p{
        font-size: 5vw;
    }
    .ForSalePropertyButtonsWrap button{
        font-size: 5vw;
    }
    .sponsorTag{
        font-size:5vw;
    }
    
}

/* @media screen and (max-width:320px) {
    .ForSaleProperties{
        width: 100%;
        gap: 3.5%;
    }
    .ForSaleProperty{
        width: 85%;
        height: 60vh;
    }
    .ForSalePropertyNameAndPrice h4{
        font-size: 6vw;
    }
    .ForSalePropertyNameAndPrice p{
        font-size: 5vw;
    }
    .ForSalePropertyButtonsWrap button{
        font-size: 5vw;
    }
    .sponsorTag{
        font-size:5vw;
    }
    
} */