/* 

.Hero {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}


.HeroLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 20vh;
    gap: 3vh;
}

.HeroLeft h1 {
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;   

   
   
}

.Hero h1 > span {
    color: #0653C8;
}

.HeroLeft p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}


.HeroPostProperty{
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    align-items: center;
    width: 100%;
}

.HeroPostProperty p{
   

}

.HeroPostProperty button{
    padding: 3%;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom,#7d92b3, #0653C8);
    cursor: pointer;
    transform: scale(1);
    transition: 350ms;

}

.HeroPostProperty button:hover{
    transform: scale(1.1);
}

.HeroPostProperty button:active{
    transform: scale(0.9);
}


.HeroRight {
    width: 50%;
    height: 100%;

    display: flex; 

}

.HeroRight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media screen and (max-width:1280px){
    .Hero{
        height: 70vh;
    }
    .HeroPostProperty button{
  
    }
    
}

@media screen and (max-width:884px){
    .Hero{
        height: 50vh;
        font-size: 2.1vw;
    }
    .HeroLeft{
        padding-top: 15vh;
    }
    .HeroPostProperty button{
    
    }
}

@media screen and (max-width:834px){
    .Hero{
        height: 60vh;
        font-size: 2.8vw;
    }
    .HeroLeft{
        padding-top: 10vh;
    }
    .HeroPostProperty{
        gap: 1%;
    }
    .HeroPostProperty button{
     
    }
}


@media screen and (max-width:800px){

    .Hero{
        height: 55vh;
        font-size: 2.8vw;

    }
    .HeroLeft{
        padding-top: 10vh;
    }
    .HeroPostProperty{
        gap: 1%;
    }
}

@media screen and (max-width:768px){

    .Hero{
        height: 55vh;
        font-size: 3vw;

    }
    .HeroRight{
        display: none !important;
    }
    .HeroLeft{
        width: 70%;
        text-align: center;
        padding-top: 15vh;
        padding-left: 0;
    }
    .HeroPostProperty{
        gap: 5%;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width:428px){
    .Hero{
        font-size: 4.6vw;
        height: 60vh;
        padding: 0% 2%;
    }
    .HeroLeft{
        width: 100%;
        
    }
}

@media screen and (max-width:412px){
    .Hero{
        font-size: 5vw;
        height: 65vh;
    }
}

@media screen and (max-width:412px){
    .Hero{
        font-size: 5vw;
        height: 70vh;
    }
}

@media screen and (max-width:390px){
    .Hero{
        font-size: 5vw;
        height: 75vh;
    }
}


@media screen and (max-width:320px){
    .Hero{
        font-size: 5vw;
        height: 85vh;
    }
    .HeroLeft{
        width: 100%;
        
    }
    .HeroPostProperty{
        width: 90%;
    }
} */





.Hero {
    width: 100%;
    height: auto;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    
}


.HeroLeft {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 120px;
    background-image: url("../Images/sixth.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    /* z-index: 1; */
}

.HeroLeft::before{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    content: "";
    width: 100%;
    height: 100%;
    z-index: 0;
}

.HeroLeft h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    font-size: 3.5rem;
   z-index: 1;
}

.Hero h1 > span {
    color: #0653C8;
}

.HeroLeft p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    z-index: 1;
}
.HeroLeft h2{
    font-size: 2rem;
    z-index: 1  ;
}


.HeroPostProperty{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap:30px
}

.HeroPostProperty p{
   font-size: 1.3rem;

}

.HeroPostProperty button{
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom,#7d92b3, #0653C8);
    cursor: pointer;
    transform: scale(1);
    transition: 350ms;
    font-size: 1rem;
    padding: 20px 30px;
}

.HeroPostProperty button:hover{
    transform: scale(1.1);
}

.HeroPostProperty button:active{
    transform: scale(0.9);
}


.HeroRight {
    width: 50%;
    height: auto;
    display: flex; 
    z-index: 1;
}

.HeroRight img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


@media screen and (max-width:884px){
    .HeroRight{
        display: none;
    }
    .HeroLeft{
        width: 100%;
        justify-content: center;
        align-items: center ;
        text-align: center;
        gap:30px
   }
   .HeroLeft::before{
    background-color: rgba(255, 255, 255, 0.7);
   }
   .HeroPostProperty{
    justify-content: center;

   }
   
}

@media screen and (max-width:428px){
    .HeroLeft{
        padding-top:100px; 
        gap  :20px;   
    }

    .HeroLeft h1{
        font-size: 3rem;
    }
    .HeroLeft p{
        font-size: 1rem;
    }
    .HeroPostProperty button{
        padding: 10px 15px;
    }
   
}