
/* New Css */

.Hero {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    /* @media screen and (max-width:768px) {
        height: 95vh;
    }
    @media screen and (max-width:600px) {
        height: 80vh;
    }
    @media screen and (max-width:480px) {
        height: 70vh;
    }
    @media screen and (max-width:370px) {
        height: 60vh;
    } */
}


.HeroLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 20vh;
    gap: 3vh;

    /* @media screen and (max-width:768px) {
        width: 100%;
        text-align: center;
    } */
}

.HeroLeft h1 {
    /* font-size: 4.5vw; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;   

    /* @media screen and (max-width:768px) {
        font-size:8vw;
    } */
   
}

.Hero h1 > span {
    color: #0653C8;
}

.HeroLeft p {
    /* font-size: 2vw; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     /* @media screen and (max-width:768px) {
        font-size: 3vw;
    } */
   
}


.HeroPostProperty{
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    align-items: center;
    width: 100%;
    /* background-color: red; */

    /* @media screen and (max-width:768px) {
        width:70%;
        margin-left: 20%;
        font-size: 3vw;
    }

    @media screen and (max-width:414px) {
        font-size: 8vw;
    } */
}

.HeroPostProperty p{
    /* font-size: 2vw; */
    /* @media screen and (max-width:768px) {
        font-size: 4vw;
    } */

}

.HeroPostProperty button{
    padding: 3%;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom,#7d92b3, #0653C8);
    cursor: pointer;
    transform: scale(1);
    transition: 350ms;
    /* font-size: 1.1vw; */
    /* @media screen and (max-width:768px) {
        font-size:2vw;

    } */
}

.HeroPostProperty button:hover{
    transform: scale(1.1);
}

.HeroPostProperty button:active{
    transform: scale(0.9);
}


.HeroRight {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex; 
    /* @media screen and (max-width:900px){

        height: 90vh;
    }
    @media screen and (max-width:768px){
        display: none;
    } */
}

.HeroRight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media screen and (max-width:1280px){
    .Hero{
        height: 70vh;
    }
    .HeroPostProperty button{
        /* font-size: 1.5vw; */
    }
    
}

@media screen and (max-width:884px){
    .Hero{
        height: 50vh;
        font-size: 2.1vw;
    }
    .HeroLeft{
        padding-top: 15vh;
    }
    .HeroPostProperty button{
        /* font-size: 1.7vw; */
    }
}

@media screen and (max-width:834px){
    .Hero{
        height: 60vh;
        font-size: 2.8vw;
    }
    .HeroLeft{
        padding-top: 10vh;
    }
    .HeroPostProperty{
        gap: 1%;
    }
    .HeroPostProperty button{
        /* font-size: 1.9vw; */
    }
}


@media screen and (max-width:800px){

    .Hero{
        height: 55vh;
        font-size: 2.8vw;

    }
    .HeroLeft{
        padding-top: 10vh;
    }
    .HeroPostProperty{
        gap: 1%;
    }
}

@media screen and (max-width:768px){

    .Hero{
        height: 55vh;
        font-size: 3vw;

    }
    .HeroRight{
        display: none !important;
    }
    .HeroLeft{
        width: 70%;
        text-align: center;
        padding-top: 15vh;
        padding-left: 0;
    }
    .HeroPostProperty{
        gap: 5%;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width:428px){
    .Hero{
        font-size: 4.6vw;
        height: 60vh;
        padding: 0% 2%;
    }
    .HeroLeft{
        width: 100%;
        
    }
}

@media screen and (max-width:412px){
    .Hero{
        font-size: 5vw;
        height: 65vh;
    }
}

@media screen and (max-width:412px){
    .Hero{
        font-size: 5vw;
        height: 70vh;
    }
}

@media screen and (max-width:390px){
    .Hero{
        font-size: 5vw;
        height: 75vh;
    }
}


@media screen and (max-width:320px){
    .Hero{
        font-size: 5vw;
        height: 85vh;
    }
    .HeroLeft{
        width: 100%;
        
    }
    .HeroPostProperty{
        width: 90%;
    }
}