*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.VerifiedPage{
    height: 100vh;
    width: 100%;
    background-color: aqua;
}
.VerifiedWrap{
    height: 50%;
    width: 25%;
    background-color: white;
    border-radius: 5px;
}